<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="platform" sequenceNumber="1670751840">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.feature.group" version="2.32.0.v20221121-1400"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.30.0.v20221121-1400"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.13.0.202208110935"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.13.0.202208110935"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="1.13.2.202208271102"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20211005-1944"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20210409-2301"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20220215-0126"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.701.v20221112-0806"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20210409-2301"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="4.26.0.v20221123-2302"/>
      <unit id="org.eclipse.help.feature.group" version="2.3.1200.v20221123-1800"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.1400.v20221123-1800"/>
      <unit id="org.eclipse.pde.feature.group" version="3.14.1400.v20221123-1800"/>
      <unit id="org.eclipse.platform.feature.group" version="4.26.0.v20221123-2302"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.26.0.v20221123-2302"/>
      <unit id="org.eclipse.draw2d.feature.group" version="3.15.0.202211301913"/>
      <unit id="org.eclipse.gef.feature.group" version="3.15.0.202211301913"/>
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.19.1.202211181144"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1900.v20221108-1024"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.23.600.v20221116-1440"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.4.1800.v20221117-1044"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.1800.v20221117-1044"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.4.1800.v20221117-1044"/>
      <unit id="org.eclipse.epp.package.rcp.feature.feature.group" version="4.26.0.20221201-1200"/>
      <repository location="https://nexus.processtech.ru/repository/download.eclipse.org-releases-2022-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.ajdt.feature.group" version="2.2.4.202304111524"/>
      <unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.2.0.202304111524"/>
      <repository location="https://nexus.processtech.ru/repository/download.eclipse.org-tools-ajdt-410-dev-update"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.22.0.v20211218020001"/>
      <unit id="org.eclipse.babel.nls_modeling.graphiti_ru.feature.group" version="4.22.0.v20211218020001"/>
      <unit id="org.eclipse.babel.nls_tools.gef_ru.feature.group" version="4.22.0.v20211218020001"/>
      <repository location="https://nexus.processtech.ru/repository/download.eclipse.org-technology-babel-update-site-R0.19.2-2021-12"/>
    </location>
  </locations>
</target>
