/plugins/*/bin
/plugins/*/target
/plugins/ru.altlinux.tnms*
tnms-devstudio-pom.xml
tnms-utils-devstudio-pom.xml
/plugins/ru.runa.spz
/plugins/ru.runa.spz.maven
spz-devstudio-pom.xml
.settings
.idea
/.project
plugins/workspace
