<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension
         point="ru.runa.gpd.handlers">
      <handler
            actionHandler="true"
            assignmentHandler="false"
            botTaskHandler="true"
            decisionHandler="false"
            cellEditorProvider="ru.runa.gpd.office.excel.ReadExcelHandlerCellEditorProvider"
            className="ru.runa.wfe.office.excel.handler.ExcelReadHandler"
            label="%ru.runa.wfe.office.excel.handler.ExcelReadHandler"
            enabled="true">
      </handler>
      <handler
            actionHandler="true"
            assignmentHandler="false"
            botTaskHandler="true"
            decisionHandler="false"
            cellEditorProvider="ru.runa.gpd.office.excel.SaveExcelHandlerCellEditorProvider"
            className="ru.runa.wfe.office.excel.handler.ExcelSaveHandler"
            label="%ru.runa.wfe.office.excel.handler.ExcelSaveHandler"
            enabled="true">
      </handler>
      <handler
            actionHandler="true"
            assignmentHandler="false"
            botTaskHandler="true"
            decisionHandler="false"
            cellEditorProvider="ru.runa.gpd.office.word.DocxHandlerCellEditorProvider"
            className="ru.runa.wfe.office.doc.DocxHandler"
            label="%ru.runa.wfe.office.doc.DocxHandler"
            enabled="true">
      </handler>
      <handler
            actionHandler="true"
            assignmentHandler="false"
            botTaskHandler="true"
            decisionHandler="false"
            cellEditorProvider="ru.runa.gpd.office.word.MergeDocxHandlerCellEditorProvider"
            className="ru.runa.wfe.office.doc.MergeDocxHandler"
            label="%ru.runa.wfe.office.doc.MergeDocxHandler"
            enabled="true">
      </handler>
      <handler
            actionHandler="false"
            assignmentHandler="false"
            botTaskHandler="true"
            decisionHandler="false"
            cellEditorProvider="ru.runa.gpd.office.word.MSWordTaskHandlerConfigurator"
            className="ru.runa.wf.logic.bot.MSWordReportTaskHandler"
            label="%ActionHandler.MSWordHandler"
            enabled="true">
      </handler>
      <handler
            actionHandler="true"
            assignmentHandler="false"
            botTaskHandler="true"
            decisionHandler="false"
            cellEditorProvider="ru.runa.gpd.office.store.ExternalStorageOperationHandlerCellEditorProvider"
            className="ru.runa.wfe.office.storage.handler.ExternalStorageHandler"
            label="%ru.runa.wfe.office.storage.handler.ExternalStorageHandler"
            enabled="true">
      </handler>
   </extension>

</plugin>
