<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ru.runa.gpd.wfeServerConnectors">
      <connector
            class="ru.runa.gpd.connector.wfe.ws.WildflyWebServiceWfeServerConnector"
            description="%wildfly.ws.connector.description"
            id="wildfly.ws"
            name="%wildfly.ws.connector.name">
      </connector>
   </extension>

</plugin>
